@model ProductsListViewModel

<style>
    .card-header img {
        object-fit: cover;
        object-position: center;
        max-height: 150px;
    }
</style>
<div class="row row-cols-1 row-cols-md-5">
    @foreach (var p in Model.Products)
    {
        <div class="col" style="padding-top: 8px;"> @*width and margin*@
            <div class="card h-100"> @*Makes sure all cards have same hight*@
                <div class="card-header">
                    <img src="@p.ImageURL" class="card-img-top" alt="@p.Name">
                </div>
                <div class="card-body">
                    <div class="col col-rows-3">
                        <div class="row">
                            <h5 class="card-title">@p.Name</h5>
                        </div>
                        <div class="row">
                            <p class="card-text description">@p.Description</p>
                        </div>
                        <hr class="my-4"> @*LINE BREAK*@
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Price: @p.Price.ToString("c")</p>
                            </div>
                            <div class="col" style="text-align: right;">
                                <p class="card-text">In Stock: @p.Amount</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row row-cols-3 justify-content-between">
                        <div class="col-auto">
                            <div class="btn-block">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@p.ProductID" class="btn btn-secondary">Details</a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="btn-block">
                                <form asp-action="AddToCart" asp-controller="Cart" method="post">
                                    <input type="hidden" name="productId" value="@p.ProductID" />
                                    <input type="submit" value="Add to Cart" class="btn btn-warning" />
                                </form>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="btn-block">
                                <form asp-action="AddToWishlist" asp-controller="Wishlist" method="post">
                                    <input type="hidden" name="productId" value="@p.ProductID" />
                                    <button type="submit" value="Add to Wishlist" class="btn btn-primary">
                                        Add to Wishlist
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
    page-class="btn" page-class-normal="btn-default"
    page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group float-right">
</div>

<script>
    var maxLength = 100; // maximum number of characters to display
    var descriptions = document.getElementsByClassName("description"); // select all elements with class "description"
    for (var i = 0; i < descriptions.length; i++) {
        var text = descriptions[i].textContent;
        if (text.length > maxLength) {
            descriptions[i].textContent = text.slice(0, maxLength) + "..."; // truncate text and add ellipsis
        }
    }

</script>